.mainindex{
    background-color: whitesmoke;
    margin: 0;
    margin-bottom: 100px;
}

.indexform{
   text-align: center;
   margin-top: 1rem;
}


.indextitle{
    text-align: center;
    margin-top: 1rem;
 }

.picturemain{
    display: block;
    margin-left: 25%;
    margin-right: auto;
    
    width: 50%;
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}


button{
    background-color:gold; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


